{% extends 'base.html.twig' %}

{% block title %}EVEAuth Home{% endblock %}

{% block body %}
    <div class="border-b mx-0 pb-1 mt-1 row">
        <div class="col-4">
            <img src="https://images.evetech.net/characters/{{ data.char.id }}/portrait?size=64"
                 alt="{{ data.char.name }}">
        </div>
        <div class="col-8 d-flex align-self-center">
            <span>{{ data.char.name }}</span>
        </div>
    </div>
    <div class="border-b mx-0 pb-1 mt-1 row">
        <div class="col-4">
            <img src="https://images.evetech.net/corporations/{{ data.corp.id }}/logo?size=64"
                 alt="{{ data.corp.name }}">
        </div>
        <div class="col-8 d-flex align-self-center">
            <span>{{ data.corp.name }}</span>
        </div>
    </div>
    <div class="border-b mx-0 pb-1 mt-1 row">
        <div class="col-4">
            <img src="https://images.evetech.net/alliances/{{ data.alli.id }}/logo?size=64" alt="{{ data.alli.name }}">
        </div>
        <div class="col-8 d-flex align-self-center">
            <span>{{ data.alli.name }}</span>
        </div>
    </div>
    <div class="border-b mx-0 pb-1 mt-1 row">
        <div class="col-4">
            <img width="64px" src="/images/discord.png" alt="Discord">
        </div>
        <div class="col-8 d-flex align-self-center">
            {% if discord.name == '' %}
                <a href="{{ discord.url }}" style="line-height: 64px;">Connect to Discord</a>
            {% else %}
                <div class="row">
                    <div class="col-24">Name: {{ discord.name }}</div>
                    <div class="col-24">Mail: {{ discord.mail }}</div>
                    <div class="col-24"><a href="{{ discord.url }}">Reconnect to Discord</a></div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="border-b mx-0 pb-1 mt-1 row">
        <div class="col-4">
            <h5>Roles</h5>
        </div>
        <div class="col-8 d-flex align-self-center">
            {% for role in roles %}
                <span class="badge badge-secondary">{{ role }}</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
